@import "artemhp-mixins/mixins";
@import "settings";

$sprites: sprite-map("./sprites/*.png");

.icon-promoEarth {
	@include spriteBg(earth, $sprites);
}

.icon-promoNotes {
	@include spriteBg(notes, $sprites);
}

.icon-promoHtml5 {
	@include spriteBg(html5, $sprites);
}

.icon-promoRocket {
	@include spriteBg(rocket, $sprites);
}

// Redefine Top Bar font-sizes

.top-bar-section {
	text-shadow: 0 1px #000;
	ul {
		&.dropdown > {
			li > {
				a {
					font-size: rem-calc(16);
				}
			}
		}
	}
}

// Redefine sliders resize of image inside

.aSlider {
	position: relative;
	overflow: hidden;
	margin: 0;
	height: rem-calc(300);
	list-style-type: none;
	> li {
		position: absolute;
		top: 0;
		height: inherit;
		> img {
			max-width: none;
		}
	}
}

.header {
	.orbit-container {
		background: #c0c0c0;
	}
	.orbit-slides-container {
		img {
			max-width: none;
			margin: 0 auto;
		}
	}
}

.top-article {
	margin-top: rem-calc(40);
	margin-bottom: rem-calc(40);
}

.top-article-title {
	margin-top: 0;
	line-height: 1;
	font-family: Cuprum, san-sarif;
	font-size: rem-calc(42);
	text-shadow: 0 1px #fff;
}


.top-article-date {
	position: relative;
	margin-top: rem-calc(5);
	padding-top: rem-calc(4);
	color: #fff;
	text-align: center;
	font-size: rem-calc(14);
	> div:first-child {
		margin-top: rem-calc(8);
	}
	.month {
		font-weight: bold;
	}
	&:before {
		position: absolute;
		top: 0;
		z-index: -1;
		display: block;
		width: 100%;
		color: #c82a10;
		text-align: center;
		font-size: rem-calc(90);
	}
}

.top-article-content {
	line-height: 1.5;

}

.blue-title {
	margin-bottom: rem-calc(20);
	padding-right: rem-calc(15);
	padding-left: rem-calc(15);
//	background: $topbar-bg-color;
	background-color: $topbar-bg-color;
//	background-image: linear-gradient($topbar-bg-color, $topbar-bg-color 50%, lighten($topbar-bg-color, 1.5%) 50%, lighten($topbar-bg-color, 1.5%));
	color: #fff;
	> .row {
		padding-top: rem-calc(3);
		padding-bottom: rem-calc(3);
		> [class*="#{$fa-css-prefix}"] {
			display: block;
			float: left;
			margin-right: rem-calc(25);
			font-size: rem-calc(38);
			text-shadow: 0 1px 0 #000;
		}
		> h1 {
			margin-bottom: 0;
//			padding-top: rem-calc(4);
			font-family: Cuprum;
			color: #fff;
			text-shadow: 0 1px 0 #000;
			font-size: rem-calc(24);
		}
	}
}

.last-notes-title {
	line-height: 1;
	> a {
		display: block;
		color: #303030;
		&:hover {
			text-decoration: underline;
		}
	}
}

.last-notes-date {
	margin-bottom: rem-calc(15);
	color: #c82a10;
	font-size: rem-calc(16);
	.fa-user {
		margin-left: rem-calc(20);
	}
}

.last-notes-content {
	margin-bottom: rem-calc(20);
}

.last-notes-img {
	margin-top: rem-calc(10);
}

.personal-photo {
	margin-top: rem-calc(6);
}

.social-networks {
	margin-top: rem-calc(15);
	margin-bottom: rem-calc(15);
	font-size: rem-calc(34);
	> a {
		color: lighten($body-font-color, 20%);
		&:hover {
			color: darken($body-font-color, 20%);
			text-decoration: none;
		}
	}
}

.promo-link {
	display: block;
	&:hover {
		background: #f3f3f3;
		text-decoration: none;
	}
	> h3 {
		color: inherit;
		font-size: rem-calc(36);
		font-family: Cuprum, san-sarif;
	}
}

.promo-picture {
	min-height: 145px;
}

.promo-banners-1 {
	padding-top: rem-calc(12);
}

.promo-banners-2 {
	margin-left: -(rem-calc(10));
	padding-top: rem-calc(12);
}

.promo-banners-3 {
	margin-left: rem-calc(28);
}

.promo-banners-4 {
	padding-top: rem-calc(20);
}

.wrap-quote {
	margin-top: rem-calc(80);
	margin-bottom: rem-calc(45);
	font-style: italic;
	font-family: Times New Roman, Times, serif;
	> blockquote {
		border-left: none;
		text-align: center;
		> p {
			color: #303030;
			font-size: rem-calc(26px);
			line-height: 1.4;
			@media #{$medium-up} {
				&:before {
					position: absolute;
					top: 5px;
					left: rem-calc(-45px);
					color: $topbar-bg-color;
					content: $fa-var-quote-left;
					font-size: rem-calc(48px);
					font-family: FontAwesome;
				}
				&:after {
					position: absolute;
					right: rem-calc(-45px);
					bottom: 0;
					color: $topbar-bg-color;
					content: $fa-var-quote-right;
					font-size: rem-calc(48px);
					font-family: FontAwesome;;
				}
			}
		}
		> footer {
			color: $topbar-bg-color;
			font-weight: bold;
			font-size: rem-calc(28px);
		}
	}
}

.footer {
	padding-top: rem-calc(40);
	padding-right: rem-calc(40);
	padding-bottom: rem-calc(20);
	padding-left: rem-calc(40);
	background-color: $topbar-bg-color;
}

.footer-menu {
	margin-left: rem-calc(25);
	list-style-type: none;
	> li {
		> a {
			display: block;
			padding-top: rem-calc(3px);
			padding-right: rem-calc(3px);
			padding-bottom: rem-calc(3px);
			padding-left: rem-calc(10px);
			color: lighten($topbar-bg-color, 50%);
			&:hover {
				background: lighten($topbar-bg-color, 5%);
				color: #fff;
				text-decoration: none;
			}
		}
	}
}

.footer-menu-wrap {
	margin-bottom: rem-calc(30);
}

.footer-menu-title {
	color: lighten($topbar-bg-color, 50%);
}

.copyright {
	color: #fff;
	opacity: 0.4;
	cursor: pointer;
}

.reveal-modal-scroll {
	overflow-y: auto;
	padding-right: rem-calc(30);
	max-height: rem-calc(385);
}

main > .row {
	padding-right: rem-calc(15);
	padding-left: rem-calc(15);
}