- loremBigText = File.open("lorem.txt").read
- headerPic = ["./images/header/pic4.jpg", "./images/header/pic5.jpg"]
- news = [Array({"img" => "images/temp/news/news-1.png"}), Array({"img" => "images/temp/news/news-2.png"}), Array({"img" => "images/temp/news/news-3.png"}), Array({"img" => "images/temp/news/news-4.png"})]
- socexNet = ["fa-twitter-square", "fa-facebook-square", "fa-vk-square", "fa-linkedin-square", "fa-github-square", "fa-vimeo-square"]
- aboutMe = "about.me/artem.deykun"

!!! 5
%html.no-js(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title Theme For Wordpress Based on Foundation
    %link(rel="stylesheet" href="stylesheets/app.css")
  %body
    %header.header
      %ul(data-orbit)
        - headerPic.each do |headerSrc|
          %li
            %img(src=headerSrc)
    %main
      %div.contain-to-grid
        %nav.top-bar(data-topbar)
          %ul.title-area
            %li.name
            %li.toggle-topbar.menu-icon
              %a(href="#")
                %span Lorem
          %section.top-bar-section
            %ul
              %li
                %a(href="#") Lorem
              %li.has-dropdown
                %a(href="#") Doloremque
                %ul.dropdown
                  - for i in 1..6
                    %li
                      %a Lorem #{i}
              %li
                %a(href="#") Lorem
      %div.row.top-article
        %div.small-1.columns
          %div.top-article-date.fa-bookmark
            %div.day 16
            %div.month JAN
            %div.year 1991
        %div.small-6.columns
          %h2
            %a(href="#") Lorem ipsum dolor sit amet, consectetur
          %div.top-article-content
            %p=loremBigText
        %div.small-5.columns
          %img.th(src="./images/temp/top-article.png")
      %div.blue-title
        %div.row
          %span.fa-lightbulb-o
          %h2 Asperiores, nulla praesentium
      %div.row.last-notes
        %ul.large-block-grid-2.medium-block-grid-2
          - news.each do |news|
            %li
              %h3.last-notes-title Illum, omnis, tempora
              %div.last-notes-date
                %span.fa-calendar
                16.01.1991
                %span.fa-user Ipsum laboriosam
              %div.row
                %div.small-4.column
                  %div.last-notes-img
                    %div.th
                      =news['img']
                %div.small-8.column.last-notes-content
                  %p=loremBigText
      %div.blue-title
        %div.row
          %div.fa-user
          %h2 Ipsum laboriosam, optio
      %div.row
        %div.small-3.column
          %div.personal-photo
            %img.th(src="images/photo/krit-portrait.jpg")
          %div.social-networks.text-center
            - socNet.each do |soc|
              %a(href="#")
                %span(class=soc)
        %div.small-9.column
          - for i in 1..3
            %p =loremBigText
          %p.text-right
            %a(href="http://#{aboutMe}") #{aboutMe}
      %div.row.promo-banners
        - for i in 1..4
          %div.small-3.column.text-center
            %a.promo-link
              %div.promo-picture
                %span.icon-promoEarth
              %h3 Lorem ipsum
      %div.row
        %div.small-centered.columns.small-8.wrap-quote
          %blockquote
            %p=loremBigText
            %footer Lorem ipsum dolor
    %footer.footer
      %div.row.footer-menu-wrap
        - for i in 1..4
          %div.columns.small-3
            %h2.lorem1.footer-menu-title Lorem
            %ul.footer-menu
              - for i in 1..4
                %li
                  %a(href="#") Lorem Ipsum
      %div.row.text-right
        %span.copyright(data-reveal-id="myModal")
          Template developed by Artem Deykun &copy; 2014
    %div.reveal-modal(id="myModal" data-reveal)
      %h2 Lorem Ipsum
      %div.reveal-modal-scroll
        - for i in 1..5
          %p #{loremBigText}
  %script(src="js/scripts.min.js")